body {
  color: #737373;
  font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
}

a {
  color: #ed8323;
  text-decoration: none;
}
h1 {
  font-size: 51.98102000000001px;
}
h2 {
  font-size: 39.985400000000006px;
}
h3 {
  font-size: 30.758000000000003px;
}
h4 {
  font-size: 23.66px;
}
h5 {
  font-size: 18.2px;
  font-weight: 300;
}
.header-top {
  padding: 15px 0;
  max-height: 60px;
  background: #4d4d4d;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  
}
.container-head {
  background: #4d4d4d;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul{
  margin-top: 0;
  margin-bottom: 10px;
  }

img {
  max-width: 70%;;
  /* align-content: center; */
  }
.container .button-head {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background: #4d4d4d;
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
}
.button-head > a {
  margin: 5px;
}

.button-head a:link, a:visited {
  color: rgb(255, 255, 255);
  background: #ec8f03;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}


.button-head a:hover, a:active {
  color: rgb(240, 237, 234);
  background-color: rgb(3, 2, 0);
  border-radius: 10px;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

ul.slimmenu {
  list-style: none;
  
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.slimmenu li {
  position: relative;
  display: inline-block;
}
ul.slimmenu li a {
  display: block;
  padding: 12px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  color: #737373;
  -webkit-transition: background-color 0.17s ease-out;
  -moz-transition: background-color 0.17s ease-out;
  -o-transition: background-color 0.17s ease-out;
  -ms-transition: background-color 0.17s ease-out;
  transition: background-color 0.17s ease-out;
}
/* ul.slimmenu li.slimmenu-sub-menu a {
  padding: 12px 34px 12px 20px;
} */
ul.slimmenu li.active > a,
ul.slimmenu li:hover > a {
  background: #ed8323;
  color: #fff;
}

ul.slimmenu li ul {
  margin: 0;
  list-style: none;
}
ul.slimmenu li ul li {
  display: block;
}
ul.slimmenu li ul li a {
  background-color: #333;
  color: #fff;
}
ul.slimmenu li > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  padding: 0;
  min-width: 170px;
}
ul.slimmenu li > ul > li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  width: 100%;
}
header#main-header {
  border-bottom: 2px solid #ed8323;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-columns: auto auto auto; */
  background-color: rgb(253, 253, 253); 
  padding: 10px; 
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.card-1 {
  
  border: 2px solid orange;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  padding: 3px; 
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
 .container-1 {
   justify-content: center;
  padding: 2px 16px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(151, 149, 149);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(151, 149, 149);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(151, 149, 149);
}


.flex-container{
  display: flex;
  /* grid-template-columns: auto ; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: auto auto auto; */
  background-color: rgb(253, 253, 253); 
  padding: 10px; 
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.card-flex {
  border: 2px solid orange;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  padding: 3px; 
  /* text-align: center; */
  border-radius: 20px;
  margin: 20px;
  
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto ;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: auto auto auto; */
    background-color: rgb(253, 253, 253); 
    padding: 10px; 
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto ;
    /* grid-template-columns: auto auto auto; */
    background-color: rgb(253, 253, 253); 
    padding: 10px; 
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .grid-container{
    display: grid;
    
    grid-template-columns: auto auto auto;
    background-color: rgb(253, 253, 253); 
    padding: 10px; 
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}



button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  
}